@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --green: hsl(75, 94%, 57%);

  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --font-size: 14px;
}

body{
    overflow: hidden;
}

.profile-wrapper{
    width: 100vw;
    height: 100vh;
    padding: 4rem 0;
    background: var(--grey-900);
}

.profile-container{
    width: 360px;
    text-align: center;
    padding: 1.5rem;
    height: auto;
    margin: 0 auto;
    background-color: var(--grey-800);
    border-radius: 1rem;
    margin-bottom: 2.4rem;
}

.avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 100%;
}

.user-info{
    width: 100%;
}

h2{
    font-size: 1.5rem;
    color: var(--white);
    margin-bottom: 1rem;
}

h3{
    font-size: .9rem;
    color: var(--green);
    margin-bottom: 1.5rem;
}

p{
    color: var(--white);
    font-size: var(--font-size);
    margin-bottom: 1.5rem;
}

.buttons-grid{
    width: 100%;
    display: grid;
    gap: 1rem;
}

.buttons-grid a{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--grey-700);
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-size);
    border-radius: .5rem;
    font-weight: bold;
}

.buttons-grid a:hover{
    background: var(--green);
    color: var(--grey-900);
}

.attribution{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: var(--grey-700);
}

.attribution a{
    text-decoration: none;
    color: var(--white);
}

@media only screen and (max-width: 375px){
    .profile-wrapper{
        padding: 3rem 0;
    }

    .profile-container{
        width: 330px;
    }

    .avatar{
        width: 100px;
        height: 100px;
    }

    .attribution{
        font-size: var(--font-size);
        padding: 1rem;
    }
}